@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

html {
	font-family: 'Noto Sans JP', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #3f3f3f;
	position: relative;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	&::before,
	&::after {
		box-sizing: inherit;
	}
}

html,
body,
#root {
	height: 100%;
}

// #root {	
// 	overflow: auto;
// }

// 2 метода решения проблемы:
// работать нужно или с #root, или с дочерним общим контейнером, у которого опционально может быть высота и ширина 100%
// 1) добавить на #root или дочерний общий контейнер overflow auto;
// 2) добавить на #root или дочерний общий контейнер flex и flex-direction: column;

// #modals {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// }

// @keyframes slideInBottom {
// 	from {
// 		opacity: 0;
// 		transform: translateY(-30px);
// 	}
// }

// animation: slideInBottom .5s ease;

h1 {
	margin: 0;
}